<h2> Comments</h2>
<div id="comments">
    <%# Extands to render partial: "comments/comment", collection: post.comments %>
    <%= render post.comments %>
</div>

<%= render "comments/new", post: post %>